# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
develop-eggs/
dist/
eggs/
.idea/
lib/
lib64/
parts/
sdist/
image/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Mac stuffs
.DS_Store

# Editor
*.sublime-project
*.sublime-workspace


# Webpage Development
dev/tmp
dev/.tmp
dev/node_modules
dev/bower_components
dev/.sass-cache
dev/build
*.js.map
node_modules
bower_components
